 
<!DOCTYPE html>
<html>
<head>
  <title>DeviseApp</title>
</head>
<body>
  <div class="container-fluid">
    <%= render "shared/navigation" %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </div>
 
  <div class="container-fluid">
    <%= yield %>
  </div>
 
</body>
</html>